.first-view {    
    height: 100vh;
   position: absolute; 
    top: 0;
    left: 7%;  
}

.first-view_1 {
    display: flex; 
    position: relative;  
   
// // .img {
// //     height: 800px;
// }    
    
    
    .first-view_text { 
        height: 800px;       
        width: 41%;
        padding-top: 190px;    
    }
    .first-view_img {
        background-image: url("../img/first-v/first-v_2x.png");
        width: 59%; 
        height: 800px; 
        background-size: cover;
        background-repeat: no-repeat;

        // background-color: red; 
    }             
   
.hair {
       font-size: 38px;
       font-family: ヒラギノ明朝 Pro; 
       text-align: center;
        font: normal normal normal 38px/65px Hiragino Mincho Pro;
        letter-spacing: 3.8px;
        color: #000000;
        opacity: 1; 
        margin-top: 150px;       
    }    
    
.hair-2 {
        font-size: 38px;
        font-family: Zapfino;
        margin-top: 48px;
        text-align: center;
        font: normal normal normal 38px/128px Zapfino;
        letter-spacing: 3.8px;
        color: #000000;
        opacity: 1;
    }  
}