////////////////
//    変数     //
////////////////



////////////////
//    mixin   //
////////////////
@mixin pc {
    @media screen and (min-width: 960px){
        @content;
    }
}
@mixin tab {
    @media screen and (max-width: 959px){
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 600px){
        @content;
    }
}

////////////////
//    共通    //
////////////////

// div  {
//     display: flex;
//     display: none;
// }

.about, .news {
    width: 1280px;
    padding: 0 110px;
}

// .inim, .about-text {
//     background: #A1938689 0% 0% no-repeat padding-box;
//     opacity: 1;
//     height: 400px;
// }

.title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: 5.4px;
    color: #707070;
    &:after {
        display: inline-block;
        content: "";
        border: 1px solid black;
        width: 100px;
        opacity: 0.7;
        margin-left: 20px;
    }
}

.catch {
    display: flex;
    align-items: center; //垂直中心
    // justify-content: center;　水平中心
}

.catch:after {
    border: 1px solid;
    content: "";
    width: 3em;
    margin-left: 1em;
}